{% extends 'base.html' %}
{% block content %}
    <div class="shop-home-container">

        <div class="shop-page-header">
            <h1 class="shop-page-title">Your Shopping Cart</h1>
        </div>

        <div class="products-container">
            {% for item in cart_items %}
                <div class="product">
                    <div class="product-image">
                        <img src="{{ item.product.image.url }}">
                    </div>
                    <div class="product-text">
                        <p class="product-price ml-1">{{item.quantity}} no. {{ item.product.product_name }}'s at £{{ item.product.product_price }}.</p>
                        <form method="POST" action="{% url 'adjust_cart' item.id %}">
                        {% csrf_token %}
                            <div class="form-group">
                                <label for="exampleInputAmount">Amend quantity?</label>
                                <div class="input-group">
                                    <input name="quantity" type="number" min="0" max="999" class="form-control">
                                </div>
                            </div>
                            <button type="submit" class="btn btn-primary">Amend</button>
                        </form>
                    </div>
                </div>
            {% endfor %}
        </div>

        <div class="cart-total-row">
            {% if total == 0 %}
                <p class="cart-paragraph">You currently do not have any items in your cart. Visit the <a href="{% url 'shop-home' %}">shop</a>.</p>
            {% else %}
                <p class="cart-total-row-paragraph">Current Total: <span class="ml-3 currency-total">£{{ item.product.price }}{{ total }}</span></p>
                <p class="cart-paragraph">Need to add more products to your cart? Return to the <a href="{% url 'shop-home' %}">shop</a>.</p>
                <a href="{% url 'checkout-home' %}" class="btn btn-primary" role="button">Checkout</a>
            {% endif %}
        </div>

    </div>
{% endblock content %}