{% extends 'base.html' %}
{% block content %}
<section class="image-container">
	<div class="slider">
		<div class="slide" id="architect">
			<div class="slide-content">
				<div class="slide-content-text">
					<h1 class="slide-content-title">CAD Professional?</h1>
					<p class="slide-content-paragraph">If you are a construction CAD professional looking for freelance work, CADWork allows you to find and bid for jobs.</p>
					<button class="btn btn-primary home-page-image-buttons"><a href="{% url 'register' %}">Register Now</a></button>
					<div class="arrows">
						<div class="arrow arrow-left"></div>
						<div class="arrow arrow-right"></div>
					</div>
				</div>
			</div>
		</div>
		<div class="slide" id="plan">
			<div class="slide-content">
				<div class="slide-content-text">
					<h1 class="slide-content-title">Need a CAD Professional?</h1>
					<p class="slide-content-paragraph">Whether you require a planning application or construction drawings, find professionals ready to help at a price set by you.</p>
					<button class="btn btn-primary home-page-image-buttons"><a href="#">Register</a></button>
					<div class="arrows">
						<div class="arrow arrow-left"></div>
						<div class="arrow arrow-right"></div>
					</div>
				</div>
			</div>
		</div>
		<div class="slide" id="interior">
			<div class="slide-content">
				<div class="slide-content-text">
					<h1 class="slide-content-title">Creative designs</h1>
					<p class="slide-content-paragraph">Do you need to create photo realistic drawings or views for a client? Find a professional on CADWork.</p>
					<button class="btn btn-primary home-page-image-buttons"><a href="#">Register</a></button>
					<div class="arrows">
						<div class="arrow arrow-left"></div>
						<div class="arrow arrow-right"></div>
					</div>
				</div>						
			</div>
		</div>
		<div class="slide" id="extension">
			<div class="slide-content">
				<div class="slide-content-text">
					<h1 class="slide-content-title">Your Project</h1>
					<p class="slide-content-paragraph">See your construction project through to completion with your CAD professional.</p>
					<button class="btn btn-primary home-page-image-buttons"><a href="#">Register</a></button>
					<div class="arrows">
						<div class="arrow arrow-left"></div>
						<div class="arrow arrow-right"></div>
					</div>
				</div>						
			</div>
		</div>
	</div>
</section>
{% endblock %}