{% extends 'base.html' %}
{% load static from staticfiles %}
{% load crispy_forms_tags %}

{% block head_js %}
    <script type="text/javascript" src="https://js.stripe.com/v2/"></script>
    <script type="text/javascript">
        //<![CDATA[
        Stripe.publishableKey = '{{ publishable }}';
        //]]
    </script>
    <script type="text/javascript" src={% static 'js/stripe.js' %}></script>
{% endblock head_js %}

{% block content %}
<div class="shop-home-container">

    <div class="shop-page-header">
        <h1 class="shop-page-title">Your Shopping Cart</h1>
        <p class="payment-form-total">Total <span class="payment-form-total-price">£{{ total }}</span></p>
    </div>

	<div class="payment-form-section">
        <form role="form"method="post", id="payment-form", action="{% url 'shop-home' %}">
        {% csrf_token %}
            <div id="credit-card-errors">
                <div class="alert-message block-message-error" id="stripe-error-message"></div>
            </div>
            <div class="payment-form-groups">
                <fieldset class="form-group" id="o-form">
                    <legend class="payment-form-legend">Personal Details</legend>
                    {{ o_form|crispy }}
                </fieldset>
                <fieldset class="form-group" id="p-form">
                    <legend class="payment-form-legend">Payment Details</legend>
                    {{ p_form|crispy }}
                </fieldset>          
            </div>
            <input class="btn btn-primary" id="submit-payment-button" type="submit" value="Submit Payment Details">
        </form>
    </div>
</div>
{% endblock content %}