{% extends 'base.html' %}
{% load static from staticfiles %}
{% load crispy_forms_tags %}

{% block head_js %}
    <script type="text/javascript" src="https://js.stripe.com/v2/"></script>
    <script type="text/javascript">
        //<![CDATA[
        Stripe.publishableKey = '{{ publishable }}';
        //]]
    </script>
    <script type="text/javascript" src={% static 'js/stripe.js' %}></script>
{% endblock head_js %}

{% block content %}
<div class="container">
	<div class="form-section">
        <div class="row">
            <p class="payment-form-total">Total <span class="payment-form-total-price">£{{ total }}</span></p>
        </div>
        <form role="form"method="post", id="payment-form", action="{% url 'shop-home' %}">
            {% csrf_token %}
            <legend>Payment Details</legend>
            <div id="credit-card-errors">
                <div class="alert-message block-message-error" id="stripe-error-message"></div>
            </div>
            <fieldset class="form-group">
                {{ o_form|crispy }}
                {{ p_form|crispy }}
            </fieldset>
            <input class="btn btn-primary btn-block" id="submit-payment-button" type="submit" value="Submit Payment Details">
        </form>
    </div>
</div>
{% endblock content %}