{% extends 'base.html' %}
{% block content %}
<div class="blog-detail-container">

  	<article class="blog-article-content">
	  	<h2 class="article-title">{{ object.title }}</h2>
		<p class="ml-1">Blog uploaded by <a href="{% url 'user-posts' object.author.username %}">{{ object.author }}</a> on {{ object.date_posted|date:"dS F, Y" }}</p>
	  	<img class="blog-image" src="{{ post.image.url }}">
    	<div class="main-blog-content">
      		<div class="article-metadata">
				{% if object.author == user %}
					<div class="mt-3 mb-3">
						<a class="btn btn-primary btn-sm mt-1 mb-1" href="{% url 'post-update' object.id %}">Update</a>
						<a class="btn btn-danger btn-sm mt-1 mb-1" href="{% url 'post-delete' object.id %}">Delete</a>
					</div>
				{% else %}
					<div class="mt-3 mb-3">
						<a class="btn btn-primary btn-sm mt-1 mb-1" href="{% url 'public_profile' object.author.username %}">View User Profile</a>
					</div>
				{% endif %}
      		</div>
			<p class="article-intro">{{ object.intro }}</p>
      		<p class="article-content">{{ object.content }}</p>
    	</div>
		<a class="btn btn-primary blog-link" href="{% url 'blog-home' %}">Return to Blogs</a>
  	</article>

	<aside class="blog-details-other">
		{% for post in posts %}
            <article class="blog-article">
                <img class="article-image" src="{{ post.image.url }}" height="80" width="80">
                <div class="media-body">
                    <div class="article-metadata">
                        <a class="mr-2" href="{% url 'user-posts' post.author.username %}">{{ post.author }}</a>
                        <small class="text-muted">{{ post.date_posted|date:"dS F, Y" }}</small>
                    </div>
                    <h2 class="blog-home-title"><a href="{% url 'post-detail' post.id %}">{{ post.title }}</a></h2>
                    <p class="article-card-intro">{{ post.intro }}</p>
                </div>
            </article>
        {% endfor %}
	</aside>
	
</div>
{% endblock content %}

