{% extends 'base.html' %}
{% load crispy_forms_tags %}
{% block content %}
	<div class="form-section">
		<form method="POST">
			{% csrf_token %}
			<fieldset class="form-group">
				<legend class="border-bottom mb-10">Register</legend>
				{{ form|crispy }}
			</fieldset>
			<div class="form-group">
				<button class="btn btn-primary btn-block" type="submit">Register to CADWork</button>
			</div>			
		</form>
		<div class="border-top pt-3">
			<small class="text-muted">If you already have an account, you can <a href="{% url 'login' %}">log in</a> here. By registering to CADWork you accept our <a href="#">terms</a> and <a href="#">privacy policy</a>.</small>
		</div>
	</div>
{% endblock content %}