{% extends 'base.html' %}
{% block content %}
    <div class="shop-home-container">

        <div class="shop-page-header">
            <h1 class="shop-page-title">CADWork Shop</h1>
        </div>

        <div class="products-container">
            {% for product in products %}
                <div class="product">
                    <div class="product-image">
                        <img src="{{ product.image.url }}">
                    </div>
                    <div class="product-text">
                        <h2 class="product-header">{{ product.product_name }}</h2>
                        <p class="product-description">{{ product.product_description }}</p>
                        <p class="product-price ml-1"><span class="product-currency">£ </span>{{ product.product_price }}</p>
                        <form method="POST">
                            {% csrf_token %}
                            <div class="input-group">
                                <input name="quantity" type="number" min="1" max="999" class="form-control product-input" placeholder="Quantity">
                                <span class="input-group-btn">
                                    <button class="btn btn-primary" action="{% url 'add_to_cart' product.id %}" type="submit">Add</button>
                                </span>
                            </div>
                        </form>
                    </div>
                </div>
            {% endfor %}
        </div>
    </div>
{% endblock content %}

