{% extends 'base.html' %}
{% block content %}
<div class="jobs-home-container">
    <div class="jobs-card-container">
        {% for job in jobs %}
            <article class="job-upload">
                <img class="job-image" src="{{ job.job_image.url }}">
                <div class="media-body">
                    <div class="article-metadata">
                        <p class="mr-2">{{ job.author }}</a>
                        <small class="text-muted">{{ job.date_posted|date:"dS F, Y" }}</small>
                    </div>
                    <h2 class="blog-home-title"><a href="{% url 'job-detail' job.id %}">{{ job.job_name }}</a></h2>
                    <p class="article-card-intro">{{ job.job_description }}</p>
                </div>
            </article>
        {% endfor %}
    </div>

    <!--If there are more articles than the number given in the pagination section in the views.py file, then page buttons will appear to allow the user to navigate through the jobs-->
    {% if is_paginated %}
        <div class="paginate-buttons ml-3">
            {% if page_obj.has_previous %}
                <a class="btn btn-primary" href="?page=1">First</a>
                <a class="btn btn-primary" href="?page={{ page_obj.previous_page_number }}">Previous</a>
            {% endif %}

            {% for num in page_obj.paginator.page_range %}
                {% if page_obj.number == num %}
                    <a class="btn btn-outline-primary" href="?page={{ num }}">{{ num }}</a>
                {% elif num > page_obj.number|add:'-2' and num < page_obj.number|add:'2' %}
                    <a class="btn btn-primary" href="?page={{ num }}">{{ num }}</a>
                {% endif %}
            {% endfor %}

            {% if page_obj.has_next %}
                <a class="btn btn-primary" href="?page={{ page_obj.next_page_number }}">Next</a>
                <a class="btn btn-primary" href="?page={{ page_obj.paginator.num_pages }}">Last</a>
            {% endif %}
        </div>        
    {% endif %}  
</div>
{% endblock content %}