{% extends 'base.html' %}
{% block content %}
<div class="blog-detail-container">

  	<article class="blog-article-content">
	  	<h2 class="job-page-title">{{ object.job_name }}<span class="ml-3 job-location">{{ object.job_location_town }}, {{ object.job_location_county }}</span></h2>
        <p class="ml-1">This job was created on {{ object.date_posted|date:"dS F, Y" }}</p>
        <p class="job-overview-paragraph">{{ object.job_overview }}</p>
        <div class="article-metadata">
			{% if object.author == user %}
				<div class="mt-3 mb-3">
					<a class="btn btn-primary btn-sm mt-1 mb-1" href="{% url 'job-update' object.id %}">Update</a>
					<a class="btn btn-danger btn-sm mt-1 mb-1" href="{% url 'job-delete' object.id %}">Delete</a>
				</div>
			{% else %}
				<div class="mt-3 mb-3">
					<a class="btn btn-primary btn-md mt-1 mb-1" href="#">Bid on this job</a>
				</div>
			{% endif %}
      	</div>
	  	<img class="blog-image" src="{{ job.job_image.url }}">
    	<div class="main-blog-content">
			<p class="article-intro">{{ object.job_description }}</p>
            <div class="job-address">
            </div>
    	</div>
		<a class="btn btn-primary blog-link" href="{% url 'jobs-home' %}">Return to Jobs</a>
  	</article>

    {% if object.author != user %}
        <section class="job-owner-info">
            
        </section>
    {% endif %}
	
</div>
{% endblock content %}