{% extends 'base.html' %}
{% load crispy_forms_tags %}
{% block content %}

<!--Container for the content-->
<div class="container">

	<!--Content section to confirm the bid-->
	<div class="form-section">

		<!--Form to allow the user to input their bid-->
		<form method="POST">
			{% csrf_token %}
			<fieldset class="form-group">
				<legend class="border-bottom mb-4">Type your bid</legend>
				<!--Using crispy forms to make form look professional-->
				{{ form|crispy }}
			</fieldset>
			<div class="form-group">
				<button class="btn btn-primary btn-block" type="submit">Confirm Bid</button>
			</div>			
		</form>
		<div class="border-top pt-3">
			<small class="text-muted">If you didn't mean to come here return to the <a href="{% url 'jobs-home' %}">jobs home</a> page.</small>
		</div>
	</div>
</div>

{% endblock content %}