{% extends 'base.html' %}
{% load crispy_forms_tags %}
{% block content %}

<!--Container for the content-->
<div class="container">

	<!--Content section to confirm the bid-->
	<div class="content-section">

		<!--Form to allow the user to input their bid-->
		<form method="POST">
			{% csrf_token %}
			<fieldset class="form-group">
				<legend class="border-bottom mb-4">Type your bid</legend>
				<!--Using crispy forms to make form look professional-->
				{{ form|crispy }}
			</fieldset>
			<div class="form-group">
				<button class="btn btn-primary btn-block" type="submit">Confirm Bid</button>
				<a class="btn btn-primary" href="{% url 'jobs-home' %}">Cancel</a>
			</div>			
		</form>
	</div>
</div>

{% endblock content %}