{% extends 'base.html' %}
{% block content %}

<!--Container for the content-->
<div class="blog-detail-container">

	<!--Job article content-->
  	<article class="blog-article-content">
	  	<h2 class="job-page-title">{{ object.job_name }}<span class="ml-3 job-location">{{ object.job_location_town }}, {{ object.job_location_county }}</span></h2>
        <p class="ml-1">This job was created on {{ object.date_posted|date:"dS F, Y" }}</p>
		<p class="article-intro">{{ object.job_overview }}</p>
        <div class="article-metadata">
			<!--Check the user is authenticated-->
			{% if user.is_authenticated %}
				<!--If user is authenticated check whether the author is creator of the job-->
				{% if object.author == user %}
					<div class="mt-3 mb-3">
						<a class="btn btn-primary btn-sm mt-1 mb-1" href="{% url 'job-update' object.id %}">Update</a>
						<a class="btn btn-danger btn-sm mt-1 mb-1" href="{% url 'job-delete' object.id %}">Delete</a>
					</div>
				<!--If user is authenticated but not the creator of the job-->
				{% else %}
					<div class="mt-3 mb-3">
						<a class="btn btn-primary btn-md mt-1 mb-1" href="{% url 'job-bid' object.id %}">Bid on this job</a>
					</div>
				{% endif %}
			<!--If the user is not authenticated the following will be displayed-->
			{% else %}
				<div class="mt-3 mb-3">
						<a class="btn btn-primary btn-md mt-1 mb-1" href="{% url 'job-bid' object.id %}">Log in to bid</a>
					</div>
			{% endif %}
      	</div>
		<!--Large image that the user placed in the blog. If the user didn't select an image, the job-default.jpg will be displayed-->
	  	<img class="blog-image" src="{{ job.image.url }}">
    	<div class="main-blog-content">
			<p class="job-overview-paragraph">{{ object.job_description }}</p>
            <div class="job-address">
            </div>
    	</div>
		<a class="btn btn-primary blog-link" href="{% url 'jobs-home' %}">Return to Jobs</a>
  	</article>

	<!--Check whether the user is authenticated-->
	{% if user.is_authenticated %}
		<!--If user is authenticated check whether the user created the current job-->
		{% if object.author == user %}
			<section class="job-bids">
				<!--Run for loop to display the jobs-->
				{% for bid in bids %}
					<p>{{ bid }}</p><p>{{ bid.job_bid_amount }}</p>
				{% endfor %}
			</section>
		<!--If current user is not the creator of the job show link to creators public profile page-->
		{% else %}
			<section class="job-owner-info">
				<!--Job owner profile to go here-->
			</section>
		{% endif %}
	{% endif %}

	<!--The aside in a jobs detail page will have an overall description about the user who posted it with a link to the public profile page-->
	<aside class="blog-aside">
        <div class="blog-aside-blogs">
			<div class="blog-aside-intro-text">
				<h2 class="blog-aside-intro-text-heading">About the job owner</h2>
				<p class="blog-aside-intro-text-paragraph">Most recently uploaded blogs</p>
			</div>
			<div class="blog-card-container">
			<!--For loop to use the following code of reach of the blogs in the list-->
			{% for post in posts %}
				<article class="blog-details-other">
					<img class="article-image" src="{{ user.profile.image.url }}" height="80" width="80">
					<div class="media-body">
						<div class="blog-details-post-text">
							<a class="blog-details-post-author mr-2" href="{% url 'user-posts' post.author.username %}">{{ post.author }}</a>
							<small class="blog-details-post-author">{{ post.date_posted|date:"dS F, Y" }}</small>
						</div>
						<h3 class="blog-details-other-title"><a href="{% url 'post-detail' post.id %}">{{ post.title }}</a></h2>
					</div>
				</article>
			{% endfor %}
			</div>
			<a href="{% url 'blog-home' %}" class="btn btn-primary btn-sm">See more...</a>
		</div>
	</aside>
	
</div>
{% endblock content %}