{% extends 'base.html' %}
{% block content %}

<!--Container for the content-->
<div class="blog-detail-container">

	<!--Job article content-->
  	<article class="blog-article-content">
	  	<h2 class="job-page-title">{{ object.job_name }}<span class="ml-3 job-location">{{ object.job_location_town }}, {{ object.job_location_county }}</span></h2>
        <p class="ml-1">This job was created on {{ object.date_posted|date:"dS F, Y" }}</p>
		<p class="article-intro">{{ object.job_overview }}</p>
        <div class="article-metadata">
			<!--Check the user is authenticated-->
			{% if user.is_authenticated %}
				<!--If user is authenticated check whether the author is creator of the job-->
				{% if object.author == user %}
					<div class="mt-3 mb-3">
						<a class="btn btn-primary btn-sm mt-1 mb-1" href="{% url 'job-update' object.id %}">Update</a>
						<a class="btn btn-danger btn-sm mt-1 mb-1" href="{% url 'job-delete' object.id %}">Delete</a>
					</div>
				<!--If user is authenticated but not the creator of the job-->
				{% else %}
					<div class="mt-3 mb-3">
						<a class="btn btn-primary btn-md mt-1 mb-1" href="{% url 'job-bid' object.id %}">Bid on this job</a>
					</div>
				{% endif %}
			<!--If the user is not authenticated the following will be displayed-->
			{% else %}
				<div class="mt-3 mb-3">
						<a class="btn btn-primary btn-md mt-1 mb-1" href="{% url 'job-bid' object.id %}">Log in to bid</a>
					</div>
			{% endif %}
      	</div>
		<!--Large image that the user placed in the blog. If the user didn't select an image, the job-default.jpg will be displayed-->
	  	<img class="blog-image" src="{{ job.image.url }}">
    	<div class="main-blog-content">
			<!--'linebreaksbr' will divide the plain text inputted by the user into separate files in the content on this page-->
			<p class="job-overview-paragraph">{{ object.job_description|linebreaksbr }}</p>
    	</div>
  	</article>

	<!--Check whether the user is authenticated-->
	{% if user.is_authenticated %}

		<!--If user is authenticated check whether the user created the current bid-->
		{% if object.author == user %}

			<aside class="job-bids-aside">
				<!--If statement to check number of bids-->
				<div class="job-bids-text">
					<h3 class="job-bids-text-header">Current Bids</h3>
					<p class="job-bids-text-paragraph">These are the bids you have currently received for you job. Press the accept button against a bid you are happy with to begin the job.</h3>
				</div>
					<table class="bid-table">
						<thead class="bid-table-head">
							<tr class="bid-table-head-row">
								<th class="bid-table-header">Bid User</th>
								<th class="bid-table-header">Bid Amount</th>
								<th class="bid-table-header">Accept Bid</th>
							</tr>
						</thead>
						<!--For loop to display the jobs bids-->
						<tbody class="bid-table-body">
							{% for bid in job.bids.all %}
							<tr class="bid-table-row">
								<td class="bid-table-row-value"><a href="{% url 'public_profile' bid.author.profile.id %}">{{ bid.author }}</td>
								<td class="bid-table-row-value">£ {{ bid.job_bid_amount }}</td>
								<td class="bid-table-row-value bid-table-row-value-button"><a class="btn btn-primary btn-sm mt-1 mb-1" href="">Accept</a></td>
							</tr>
							{% empty %}
							<p class="alert alert-primary">You do not currently have any bids on this job</p>	
							{% endfor %}
						</tbody>
					</table>	
					
			</aside>

		<!--If current user is not the creator of the job show link to creators public profile page-->
		{% else %}
		
			<!--The aside in a jobs detail page will have an overall description about the user who posted it with a link to the public profile page-->
			<aside class="job-owner-info-aside">
				<div class="profile-aside">
					<div class="profile-top-section">
						<img class="account-image" src="{{ job.author.profile.image.url }}">
						<div class="profile-details">
							<h2 class="account-heading">{{ job.author.username }}</h2>
							<p class="account-email">Email job owner for more information: 
							<a href="mailto:{{ job.author.email }}">{{ job.author.email }}</a></p>
						</div>
					</div>
					<div class="job-owner-info-overview">
						<p class="account-email">{{ job.author.profile.profile_intro }}</p>
						<a href="{% url 'public_profile' job.author.profile.id %}" class="btn btn-primary btn-sm">See users full profile</a>
					</div>
				</div>
			</aside>

		{% endif %}

		<div class="job-uploaded-file">
			<a href="{% url 'job-upload-file' object.id %}" class="btn btn-sm btn-primary">Upload File</a>
			<table class="job-uploaded-file-table">
				<thead class="job-uploaded-file-table-head">
					<tr class="job-uploaded-file-table-row">
						<th class="job-uploaded-file-table-header">File Name</th>
						<th class="job-uploaded-file-table-header">Uploaded By</th>
						<th class="job-uploaded-file-table-header">Download</th>
					</tr>
				</thead>
				<tbody>
					{% for file in job.files.all %}
					<tr class="job-uploaded-file-table-row">
						<th class="job-uploaded-file-table-header">{{ file.file_name }}</th>
						<th class="job-uploaded-file-table-header">{{ file.author }}</th>
						<th class="job-uploaded-file-table-header">
							<a class="btn btn-sm btn-primary" href="{{ file.uploaded_file }}">Download File</a>
						</th>
					</tr>
					{% endfor %}
				</tbody>
			</table>
		</div>

	{% endif %}
	
</div>
{% endblock content %}